<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.abc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:name="test.abc.GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="test.abc.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name="test.abc.CreateDrinkPage" >
        </activity>
        <activity android:name="test.abc.CreateDrinkListPage" >
        </activity>
        <activity android:name="test.abc.DrinkNameSearchPage" >
        </activity>
        <activity android:name="test.abc.DrinkAdvancedSearchPage" >
        </activity>
        <activity android:name="test.abc.DrinkSearchPage" >
        </activity>
        <activity android:name="test.abc.DrinkHistoryPage" >
        </activity>
        <activity android:name="test.abc.MyCreateDrinkPage" >
        </activity>
        <activity android:name="test.abc.PreMakePage" >
        </activity>
        <activity android:name="test.abc.MaterialListPage" >
        </activity>
        <activity android:name="test.abc.DrinkInfoPage" >
        </activity>
        <activity android:name="test.abc.MakeDrinkPage" >
        </activity>
        <activity android:name="test.abc.InputDrinkInfoPage" >
        </activity>
        <activity android:name="test.abc.TakeDrinkPicture" >
        </activity>
        <activity android:name="test.abc.DrinkEvaluatePage" >
        </activity>
        
        </application>

</manifest>
